.body{
  background-image: linear-gradient(#ffd400,#ed1c24);
    background-attachment: fixed;
}

.login-page {
    padding: 8% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    
  }
  .form input {
    font-family: FontAwesome, "Roboto", sans-serif;
    background: #e6e4e4;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    font-size: 14px;
    border-radius:10px;
  }

  .form button {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: #ffd400;
    border: 0;
    border-radius:10px;
    margin: 0px 0px 5px;
    padding: 10px;
    color: #ed1c24;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
  
  }
  .form button:hover,.form button:focus {
    background: #ed1c24;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     color: #ffff;
    transform: translateY(-4px);
   
  }
  .form button:active {
    transform: translateY(2px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .forgot{
    text-align: center;
  }